/* Additional RTL Styles */
html, body, div, h1, h2, h3, h4, h5, h6, p, a,
.blog .post-content-meta, .page .post-content-meta {
    text-align: right;
}

.mr-3 {
    margin-right: 0 !important;
    margin-left: 1rem;
}

.ml-1 {
    margin-left: 0 !important;
    margin-right: .25rem;
}

.list-inline-item {
    margin-left: .25rem;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.share-post-menu {
    left: auto;
    right: -50%;
}

.mega-menu .swiper-button-next, .mega-menu .swiper-container-rtl .swiper-button-prev,
.page-slider .swiper-button-next, .page-slider .swiper-container-rtl .swiper-button-prev,
.related-posts .swiper-button-next, .related-posts .swiper-button-prev {
    right: auto;
}
