/*
 |--------------------------------------------------------------------------
 | 13. Shortcodes / Clients Styles
 |--------------------------------------------------------------------------
 |
 | Set of base theme styles
 |
 */

.lisner-clients {
    display flex
    justify-content space-between
    align-items center
    margin 0
    padding rem(97px) 0
}
