/*
 |--------------------------------------------------------------------------
 | 21. Pages / Maintenance Page Styles
 |--------------------------------------------------------------------------
 */

.maintenance {
    position relative
    display flex
    justify-content center
    align-items center
    padding-top rem(130px)
    min-height 100vH
    background-color $theme_color
    background-size cover
    background-repeat no-repeat
    background-position center
    @media (min-width: 1400px) {
    }
    &-overlay {
        position absolute
        display block
        top 0
        left 0
        width 100%
        height 100%
    }
    .title {
        margin-top rem(30px)
        h1 {
            font-size 48px
            font-weight 300
            strong {
                font-weight 700
            }
        }
        h1,
        h3 {
            color $white
        }
    }
    #clock {
        display flex
        justify-content center
        margin-top rem(50px)
        span {
            display flex
            flex-direction column
            justify-content center
            align-items center
            padding rem(15px) rem(20px)
            width 145px
            border 5px solid $white
            border-radius $border-radius
            font-size 58px
            font-weight 600
            line-height 1
            color $white
            &:not(:last-child) {
                margin-right rem(20px)
            }
            span {
                margin 0
                width auto
                font-size 22px
                font-weight 300
                border none
            }
        }
    }
    &-social {
        display flex
        flex-wrap wrap
        justify-content center
        margin-top rem(80px)
        a {
            margin-right rem(15px)
            i {
                display flex
                justify-content center
                align-items center
                width 44px
                height 44px
                border 2px solid
                border-radius 50%
                font-size 20px
            }
            &:hover {
                text-decoration none
            }
            i {
                color $white
            }
        }
    }
    &-chimp {
        max-width 70%
        margin 0 auto
        margin-top rem(80px)
        .mailchimp-notice {
            text-align left
            color $white
        }
        form {
            display flex
            justify-content center
            align-items center
            .input-group {
                display flex
                align-items center
                margin-right rem(10px)
                margin-bottom 0
                height rem(40px)
                padding rem(4px) rem(20px)
                background-color $white
                border 1px solid
                border-color $border-color
                border-radius $border-radius
                label {
                    display flex
                    flex 0 0 21%
                    max-width 21%
                    align-items center
                    margin-bottom 0
                    font-weight 600
                    i {
                        margin-right rem(10px)
                        font-size 18px
                        color $font_color_light
                    }
                }
                input {
                    flex 0 0 79%
                    max-width 79%
                    font-size 14px
                    background-color transparent
                    border none
                    color $font_color
                    &:focus {
                        outline 0
                        box-shadow 0
                    }
                }
            }
            .btn {
                padding rem(8px) rem(8px)
                height 42px
                width 62px
                box-shadow none
                .loader.ajax-loader {
                    .path {
                        stroke $font_header_color
                    }
                }
            }
        }
    }
    .copyrights {
        margin-top rem(80px)
        margin-bottom rem(40px)
        color $white
    }
}
